<!--The content below is only a placeholder and can be replaced.-->
<!-- <div>
  <nav class='navbar navbar-default'>
    <div class='container-fluid'>
      <a class='navbar-brand'>{{pageTitle}}</a>
      <ul class='nav navbar-nav'>
        <li>
          <a [routerLink]="['/auth']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/products']">Product List</a>
        </li>
        <li>
          <a [routerLink]="['/products/add']">Add Product</a>
        </li>
        <li>
          <a [routerLink]="['/profile/subscription']">Subscription</a>
        </li>
        <li><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
  <p-toast position="bottom-right"></p-toast>
</div> -->

<style>
  @media (min-width: 768px) {
    .navbar-nav {
      width: 100%;
      text-align: center;
    }

    .navbar-nav>li {
      float: none;
      display: inline-block;
    }

    .navbar-nav>li.navbar-right {
      float: right !important;
    }
  }
</style>

<div class="row">
  <div class="container-fluid">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="mainNavbar" class="navbar-collapse collapse">
        <a class='navbar-brand'>{{pageTitle}}</a>
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['home']"> Home </a>
          </li>

          <!-- Product -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Product
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li routerLinkActive="active">
                <a [routerLink]="['/products']">Product List</a>
              </li>
              <li routerLinkActive="active">
                <a [routerLink]="['/products/add']">Add Product</a>
              </li>
            </ul>
          </li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Profile
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">My Profile</a>
              </li>
              <li routerLinkActive="active">
                <a [routerLink]="['/profile/subscription']">Subscription</a>
              </li>
            </ul>
          </li>


          <!-- Logout -->
          <li style="text-align:right">
            <a (click)="logout()" [routerLink]="['/login']">{{loginLabel}}</a>
          </li>

        </ul>

      </div>
      <!-- <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="navbar-left"><a href="#">Left 1</a></li>
          <li class="navbar-left"><a href="#">Left 2</a></li>
          <li class="active"><a href="#">Center 1</a></li>
          <li><a href="#">Center 2</a></li>
          <li><a href="#">Center 3</a></li>
          <li class="navbar-right"><a href="#">Right 2</a></li>
          <li class="navbar-right"><a href="#">Right 1</a></li>
        </ul>
      </div> -->
    </nav>

    <div class="row">
    </div>

    <!-- Main Content -->
    <div class="row" id="mainContent">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
      <p-toast position="bottom-right">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <img src="{{message.data.ImageUrl}}" class="imageClass"/>
              <!-- <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i> -->
              <h3>{{message.summary}}</h3>
              <p>{{message.detail}}</p>
              <p>{{message.data.Price | currency:'USD':true:'1.2-2'}}</p>
          </div>
          <div class="ui-g ui-fluid">
              <div class="ui-g-6">
                <a [routerLink]="['/products/detail', message.data.Id]" class="ui-button-success">Details</a>
              </div>
          </div>
      </ng-template>
      </p-toast>
    </div>
  </div>
</div>